<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>一站式代码分享交流平台-minicode</title>
    <link href="assert/css/common.css" rel="stylesheet" type="text/css"/>
    <script src="assert/js/common/json2.min.js"></script>
    <script src="assert/js/common/jquery-1.11.0.min.js"></script>
    <script src="assert/js/sea.js"></script>
</head>
<body>
<!--左侧导航区-->
<div class="main-nav-left">
    <img src="assert/image/logo.png"/>
    <div >
        <ul>
            <li >大厅<input type="hidden" value="living_room"/></li>
            <li >搜索<input type="hidden" value="search"/></li>
            <li >个人中心<input type="hidden" value="personal_center"/></li>
        </ul>

        <ul>
            <li >帮助<input type="hidden" value="help"/></li>
            <li >关于&支持<input type="hidden" value="about"/></li>
        </ul>
    </div>
</div>

<!--主页面加载区-->
<div class="main-body">
    <div class="main-right-region" id="page_node"></div>
</div>

</body>
<script type="text/javascript">
    seajs.config({
        alias: {},
        debug: 0
        // 0: 只输出少量信息 1：输出大量信息 2：对已加载的文件不进行缓存
    });
    seajs.use('index/index', function (index) {
        index.init();
    });
</script>
</html>