<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="assert/css/common.css" rel="stylesheet" type="text/css"/>
    <script src="assert/js/common/json2.min.js"></script>
    <script src="assert/js/common/jquery-1.11.0.min.js"></script>
    <script src="assert/js/sea.js"></script>
</head>
<body>
<div class="main-nav-left">
    <img src="assert/image/logo.png"/>
    <div >
        <ul>
            <li>大厅</li>
            <li>搜索</li>
            <li>个人中心</li>
        </ul>

        <ul>
            <li>帮助</li>
            <li>Q&A</li>
            <li>关于</li>
        </ul>
    </div>
</div>
<div class="main-body">
    <div class="main-right-region">
    </div>
</div>
</body>
<script type="text/javascript">
    seajs.config({
        alias: {},
        debug: 0
        // 0: 只输出少量信息 1：输出大量信息 2：对已加载的文件不进行缓存
    });
    seajs.use('index/index', function (index) {
        index.init();
    });
</script>
</html>